
<ul class="list-group">
    <li class="list-group-item list-group-item-info"
        (click)="agregarMarcador()">
        + Agregar
    </li>
    <li *ngFor="let marcador of marcadores; let i = index"
        class="list-group-item m-1"
        [ngStyle]="{ 'background-color': marcador.color }"
        (click)="irAMarcador( marcador )"
        >
        Marcador {{ i + 1}}
        <button (click)="borrarMarcardor( i )" 
                class="btn btn-danger m-2">
        Borrar
        </button>
    </li>
</ul>

<div #mapa class="mapa-container"></div>
