<div class="animate__animated animate__fadeIn">

    <h1>Búsqueda por país</h1>
    <hr>
    
    
    <div class="row">
        <div class="col">
            <app-input 
            (onEnter)="buscar( $event )"
            (onDebounce)="sugerencias( $event )"
            placeholder="Buscar país..."></app-input>
        </div>
    </div>

    <ul class="list-group" [ngClass]="{'not': paises.length <= 1}">
        <li *ngFor="let pais of paises"
        class="list-group-item list-group-item-action"
        (click) = "aceptarSugerencia( pais )">
            {{pais.name}}
        </li>
    </ul>
    
    <hr>

</div>

<div *ngIf="hayError"
class="alert alert-danger">
    No se encontró nada con el término {{ termino }}
</div>

<div *ngIf="paises.length > 0"
class="row">
    <div class="col">

        <app-tabla [paises]= "paises" ></app-tabla>

    </div>
</div>
